@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin full {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@mixin translate-back {
  transition: transform .2s ease;
  transform: translate(0, 0);
}

@keyframes loading {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@mixin loader($color) {
  border-radius: 50%;
  border: 2px solid $color;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  width: 12px;
  height: 12px;
  animation: loading .5s infinite linear;
  display: inline-block;
}