$highlight-color: #446e9b;
$dark-gray-color: #f1f1f1;
$shadow-gray-color: #f9f9f9;
$border-color: #ddd;
$danger-color: #d9534f;
$selected-color: #d9edf7;

$labtree-width: 270px;
$header-height: 46px;
$toggle-btn-width: 25px;
$toggle-btn-right: 5px;
$toggle-width: $toggle-btn-width + $toggle-btn-right * 2;

$font-size: 13px;

$z-index: 1001;