@import '_mixins';
@import '_variables';

.labtree {
  @include full();
  @include translate-back();
  position: fixed !important;
  padding-top: $header-height;
  width: $labtree-width;
  background-color: $shadow-gray-color;
  border-right: 1px solid $border-color;
  z-index: $z-index;
  overflow: visible;

  &-hidden {
    transform: translate(-100%, 0);

    .labtree-toggle {
      right: -$toggle-width;
    }
  }

  .icon {
    width: 16px;
    display: inline-block;
    text-align: right;
    margin-right: 6px;
  }

  .loader {
    @include loader(#000);
  }

  &-toggle {
    width: $toggle-btn-width;
    height: $toggle-btn-width;
    position: absolute;
    top: 9px;
    right: $toggle-btn-right;
    padding: 6px;
    text-align: center;
    line-height: 1;
    z-index: $z-index + 1;
    cursor: pointer;
  }

  &-header {
    @include full();
    height: $header-height;
    position: absolute;
    background: $dark-gray-color;
    text-shadow: 0 1px 0 #fff;
    border-bottom: 1px solid $border-color;
    padding-left: 13px;
    padding-right: $toggle-width;

    &-repo {
      @include ellipsis();
      line-height: $header-height * 0.618;
      font-weight: bold;
    }

    &-branch {
      @include ellipsis();

      span {
        font-size: $font-size - 1;
      }
    }

    &-title {
      line-height: $header-height;
      font-weight: bold;
      font-size: $font-size + 3;
    }
  }

  &-form {
    &-row {
      margin: 13px;
    }

    label {
      font-weight: bold;
    }

    &-tips {
      color: $danger-color;
      padding-left: 10px;
    }
  }

  &-view {
    padding-top: 13px;
    height: 100%;
    overflow: auto;
    position: relative;

    .icon {
      color: $highlight-color;
    }
  }

  &-list {
    margin: 0 0 0 15px;
    padding: 0;
    list-style: none;

    &-row {
      position: absolute;
      height: auto;
      width: 100%;
      left: 0;
      -webkit-user-select: none;
      box-sizing: border-box;
      transition: background-color 0.15s, box-shadow 0.15s;

      &:hover {
        background: #eee;
      }
    }

    li {
      cursor: pointer;
      line-height: 24px;
      white-space: nowrap;

      span {
        position: relative;
      }

      .loader {
        @include loader($highlight-color);
        margin: 0 6px 0 4px;
      }
    }

    &-hide {
      display: none;
    }
  }
}

.container-shim {
  @include translate-back();
  padding-left: $labtree-width;
}