@import "./tree.css";

.labtree {
    padding-top: 46px;
    width: 281px;
    position: fixed !important;
    overflow: visible;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #f7f7f7;
    border-right: 1px solid #dddddd;
    transition: transform .2s ease;
    z-index: 1001;
    transform: translate3d(0px, 0px, 0px);

    &-hidden {
        transform: translate3d(-100%, 0px, 0px);

        .labtree-toggle {
            right: -35px;
        }
    }

    .icon {
        width: 16px;
        display: inline-block;
        text-align: right;
        margin-right: 6px;
        color: #777777;
    }

    &-toggle {
        width: 25px;
        height: 25px;
        top: 9px;
        right: 5px;
        padding: 6px;
        text-align: center;
        line-height: 1;
        z-index: 1002;
        cursor: pointer;
        position: absolute;
        color: black;
    }

    &-header {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        height: 46px;
        font-size: 16px;
        line-height: 28px;
        background: #f3f3f3 linear-gradient(#f9f9f9, #f3f3f3) repeat-x;
        margin: 0;
        text-shadow: 0 1px 0 #fff;
        border-bottom: 1px solid #e5e5e5;
        padding-left: 13px;
        padding-right: 55px;

        &-repo {
            font-size: 13px;
            font-weight: bold;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &-branch {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 1;
            font-size: 12px;
        }
    }

    &-form {
        &-row {
            margin: 13px;
        }

        label {
            font-size: 14px;
            font-weight: bold;
        }

        input {
            width: 100%;
            min-height: 34px;
            padding: 7px 8px;
            font-size: 13px;
            color: #333;
            vertical-align: middle;
            background-color: #fff;
            background-repeat: no-repeat;
            background-position: right 8px center;
            border: 1px solid #ccc;
            border-radius: 3px;
            outline: none;
            box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
        }
    }

    &-view {
        padding-top: 13px;
        height: 100%;
        overflow: auto;

        .icon {
            color: #446e9b;
        }
    }

    &-list {
        margin: 0 0 0 15px;
        padding: 0;
        list-style: none;

        li {
            line-height: 24px;
        }

        &-hidden {
            display: none;
        }
    }
}

.container-shim {
    margin-left: 300px;
}