.treeview-container {
    overflow: auto;
}

.treeview-node-container {
    white-space: nowrap;
}

.treeview-cell-container {
    display: inline-block;
    width: 15px;
    /* height: 20px; */
    /* border: solid 1px #f2f2f2; */
}

.treeview-textbox-container {
    display: inline-block;
}

/* css class to clear space for float elements */
.div-clear-both {
    clear: both;
}

/* spacer icon for sort */
.sort-spacer-icon {
    width: 8px;
}